{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Lucida Sans Unicode';
    background-color: #64B079;
    color: silver;
}

.h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Calibri;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}