{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Lucida Sans Unicode';
    background-color: coral;
    color: silver;
}

.h1  header{
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
    font-size: 25px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Calibri;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 900px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: coral;
    color: #ffffff;
}
.search-engine-optimization img {
    max-height: 500px;
    image-orientation: center;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-style: anton;
    color:  #64B079;
}

p {
    margin-bottom: 30px;
    padding-right: 20px;
    height: 900px;
    font-size: 30px;
    color: cornsilk;
}